body {
    background-image: linear-gradient(to right, aquamarine, black);
}

#main {
    width: 400px;
    height: 200px;
    margin-left: 34%;
    color: white;
    background-image: linear-gradient(to right, black, #c0c0);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    border-radius: 50%;
}

#ligar {
    width: 100px;
    height: 70px;
    background-image: linear-gradient(to right, aquamarine, black);
    color: white;
    margin-left: 40%;
    margin-top: 20px;
}

#desligar {
    width: 100px;
    height: 70px;
    background-image: linear-gradient(to right, black, aquamarine);
    color: white;
    margin-left: 5%;
}
span {
    color: aqua;
}